body{
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 1170px;
}
#back{
  padding-top: 230px;
  width: 100%;
  height: 100vh;
  background: url("../img/Lpagepoizk3.jpg") center no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
}
a:hover{
  border: 1px solid blue;
}
.menu{
  border: 1px solid black;
  margin-left: 450px;
  color: black;
  height: 200px;
  width: 250px;
  background: #EEECEC;
}
.title{
  padding-top: 40px;
  padding-bottom: 50px;
}